/*this is for index */

body {
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #e4fbff;
}
.top_container {
  background-color: #e4fbff;
  position: relative;
  padding-top: 20px;
}
#vinay {
  height: 200px;
  border-radius: 100%;
}
.middle_container {
}
.bottom_container {
}

h1 {
  display: inline-block;
  margin-bottom: 5px;
  padding-top: 0px;
  font-family: "Sacramento", cursive;
  font-size: 80px;
  position: relative;
}

h2 {
  font-family: "Montserrat", sans-serif;
}
font-family: "Montserrat", sans-serif;
h3 {
}
.pro {
  display: inline-block;
  margin-top: 0ch;
  margin-bottom: 0ch;
  font-size: 50px;
}
#bottomcloud {
  position: absolute;
}
#cloud1 {
  position: absolute;
  right: 150px;
}
#cloud2 {
  position: absolute;
  left: 150px;
  top: 150px;
}
#cloud3 {
  position: absolute;
  right: 150px;
  top: 300px;
}
#cloud4 {
  position: absolute;
  left: 150px;
  top: 450px;
}

.webgif {
  height: 200px;
}
#mountain {
  padding-bottom: 50px;
  margin: 50px;
}
.smallergif {
  height: 100px;
}
hr {
  width: 100px;
  border-style: dotted none none none;
  border-width: 5px;
  border-top-color #150e56;
  margin=20px;
}
